Body,header,nav,h2,ul, main,footer,h3 { 
    background-color: darkgray;
    color: yellow;
} 
    .box-2 { 
        
         border: 2px solid black;
         font-size: 024px;
         font-family: Georgia, 'Times New Roman', Times, serif;
         text-align: center;
         line-height: 4em;
         background-image:url("IMG-20200418-WA0002.jpg");
         background-position: 800px 600px
    }
   
     h3 {
        background-color: rgb(81, 0, 128);
        font: normal 15px 'Courier New', Courier, monospace;
     }
     Main{
         line-height: 3.5em;
     }
    .box-1{
        background-color: black;
        color: white;
    }
    .container{
        width: 80%;
        margin: auto;
    }